@model Hmm.WebConsole.ViewModels.GasLogIndexViewModel

<div class="container">
    <div>User Address : @Model.Address</div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Distance</th>
                <th scope="col">Gas</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Meter Reading</th>
                <th scope="col">LogDate</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.GasLogs)
            {
                <tr>
                    <td> @log.Id </td>
                    <td> @log.Distance.Value </td>
                    <td> @log.Gas.Value </td>
                    <td> @log.Price.Amount</td>
                    <td> @((decimal)log.Gas.Value * log.Price.Amount) </td>
                    <td> @log.CurrentMeterReading.Value </td>
                    <td> @log.CreateDate</td>
                    <td> @log.Comment</td>
                </tr>
            }
        </tbody>
    </table>
</div>