@model Hmm.WebConsole.ViewModels.NavigationComponentViewModel

<a class="btn btn-block btn-outline-secondary"
   asp-action="Index"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>


@foreach (var subsystem in Model.SubsystemTexts)
{

    <div section-mode="@Model.SubsystemsInfo"
         section-action="Index" 
         section-classes-enabled="true"
         section-class="btn" 
         section-class-normal="btn-outline-dark"
         section-class-selected="btn-primary"
         section-url-subsystem="@Model.CurrentSubsystem">@subsystem</div>
    @*<a class="btn btn-block
           @(subsystem == ViewBag.SelectedSubsystem
               ? "btn-primary":"btn-outline-secondary")"
           asp-action="Index"
           asp-controller="Home"
           asp-route-subsystem="@subsystem"
           asp-route-notePage="1">
            @subsystem
        </a>*@
}